apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "routeflare.fullname" . }}
  labels:
    {{- include "routeflare.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "routeflare.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      annotations:
        {{- if .Values.cloudflare.apiToken.createSecret }}
        checksum/secret: {{ include (print $.Template.BasePath "/secret.yaml") . | sha256sum }}
        {{- end }}
        {{- with .Values.podAnnotations }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
      labels:
        {{- include "routeflare.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "routeflare.serviceAccountName" . }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: {{ .Chart.Name }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
            - name: CLOUDFLARE_API_TOKEN
              valueFrom:
                secretKeyRef:
                  name: {{ if .Values.cloudflare.apiToken.existingSecret }}{{ .Values.cloudflare.apiToken.existingSecretName | default .Values.cloudflare.apiToken.secretName }}{{ else }}{{ .Values.cloudflare.apiToken.secretName }}{{ end }}
                  key: {{ .Values.cloudflare.apiToken.secretKey }}
                  optional: false
            {{- if .Values.cloudflare.strategy }}
            - name: STRATEGY
              value: {{ .Values.cloudflare.strategy | quote }}
            {{- end }}
            {{- if .Values.cloudflare.recordOwnerID }}
            - name: RECORD_OWNER_ID
              value: {{ .Values.cloudflare.recordOwnerID | quote }}
            {{- end }}
            {{- if .Values.kubernetes.kubeconfig }}
            - name: KUBECONFIG
              value: {{ .Values.kubernetes.kubeconfig | quote }}
            {{- end }}
            {{- with .Values.env }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          {{- if .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml .Values.livenessProbe | nindent 12 }}
          {{- end }}
          {{- if .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml .Values.readinessProbe | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: tmp
              mountPath: /tmp
      volumes:
        - name: tmp
          emptyDir: {}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

